openapi: 3.0.1
info:
  title: CharityNavigatorDataAPI
  description: |-
    The Charity Navigator Data API provides access to Charity Navigator's
    ratings, research content and charitable organization profiles.
  version: 1.0.0
servers:
- url: https://api.data.charitynavigator.org/v2
tags:
- name: OrganizationCollection
  description: |-
    The full collection of organizations in Charity Navigator. Allows paged
    retrieval, simple and advanced searching.
- name: OrganizationObject
  description: Represents a single Organization in Charity Navigator.
- name: RatingCollection
  description: |-
    Represents the set of Organization Ratings in Charity Navigator. <br/>
    ![Content
    Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
    "Included with the paid Content Subscription.")
- name: RatingObject
  description: |-
    Represents a single Rating in Charity Navigator. Each rating is listed once,
    under its primary `referenceOrganization`. Note that the rating may apply to
    other organizations, and this is represented by `includedOrganizations`, which
    is a collection of hyperlinks to all of the organizations to which the rating
    applies. <br/> ![Content
    Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
    "Included with the paid Content Subscription.")
- name: AdvisoryCollection
  description: Represents the complete set of available Advisories.
- name: AdvisoryObject
  description: Represents a single Advisory.
- name: ListCollection
  description: |-
    Represents the full set of Lists defined in Charity Navigator. <br/>
    ![Content
    Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
    "Included with the paid Content Subscription.")
- name: ListObject
  description: |-
    Represents a single List defined in Charity Navigator. <br/> ![Content
    Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
    "Included with the paid Content Subscription.")
- name: CategoryCollection
  description: |-
    Charity Navigator's classification hierarchy for charitable Organizations,
    including Categories and Causes. <br/> ![Content
    Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
    "Included with the paid Content Subscription.")
- name: ActiveAdvisoryCollection
  description: Represents the complete list of Organizations with active advisories.
paths:
  /Organizations:
    get:
      tags:
      - Organization Collection
      description: |-
        Retrieve a list of the organizations available in the Charity Navigator Data
        Store. Allows paged retrieval, simple and advanced searching.
      operationId: searchOrganizations
      parameters:
      - name: app_id
        in: query
        description: |-
          3Scale App ID: unique identifier for an application registered in the
          Charity Navigator  developer portal.
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - name: app_key
        in: query
        description: '3Scale App Key: a secret key to authenticate the assigned App
          ID.'
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - name: pageSize
        in: query
        description: |-
          Number of organizations to return in a single response message. Used in
          combination with `pageNum` for paged responses. Default value is 100.  If
          specified, must be an integer value between 1 and 1,000.
        schema:
          type: integer
          format: int32
      - name: pageNum
        in: query
        description: |-
          Page number to return, in case the number of available objects in the result
          set is greater than the specified or default `pageSize`. Default value is 1.
          If the value of pageNum is greater than the number of pages in the result set,
          the method will return a 404 error. If the requested starting position, computed
          as `((pageNum-1) * pageSize) + 1`, is greater than the maximum supported result
          size of 10,000 objects, the method will return a 400 error.
        schema:
          type: integer
          format: int32
      - name: search
        in: query
        description: |-
          A simple search string that narrows the results to organizations matching
          the specified search terms. This is a relevance-driven search, not an exact
          match. Whitespace-separated terms in the search string are combined using AND
          logic, so adding terms has the effect of narrowing the search.
          By default, the search looks for matches in all string or text properties. The
          searchType parameter can change the field values included in the search.
        schema:
          type: string
      - name: searchType
        in: query
        description: |-
          .Used in combination with the `search` parameter, specifies the type of
          .search to be performed.
          .
          .| Value     | Search Behavior                       |
          .| --------- | ------------------------------------- |
          .| DEFAULT   | Search in all string properties.      |
          .| NAME_ONLY | Search only in the Organization name. |
          .
          .Omitting the searchType parameter has the same effect as specifying "DEFAULT".
          .
          .Any value other than the ones specified in the table above will cause an HTTP
          .400 error response.
        schema:
          type: string
      - name: rated
        in: query
        description: |-
          .Specifies whether to include only rated charities or unrated charities. By
          .default, all charities will be returned.
          .
          .Can be specified as `TRUE` or `FALSE`, `0` or `1`, or included without a value,
          .which is equivalent to `TRUE` or `1`.
          .
          .| Usage | Search Behavior |
          .| --- | --- |
          .| `rated=TRUE`<br/>`rated=1`<br/>`rated` | Return only rated charities. |
          .| `rated=FALSE`<br/>`rated=0` | Return only unrated charities. |
          .| (default) | Return all charities. |
          .
          .Any value other than the ones specified in the table above will cause an HTTP
          .400 error response.
        schema:
          type: boolean
      - name: categoryID
        in: query
        description: |-
          ID of a Category. Search results will be filtered to include only
          organizations in the specified category.
        schema:
          type: string
      - name: causeID
        in: query
        description: |-
          ID of a Cause. Search results will be filtered to include only organizations
          in the specified cause.
        schema:
          type: string
      - name: fundraisingOrgs
        in: query
        description: |-
          .Specifies whether to include or exclude organizations flagged by Charity
          .Navigator as fundraising organizations. By default, all charities will be
          .returned.<br/> [Learn
          .More](javascript:openBrWindow('http://www.charitynavigator.org/index.cfm?bay=glossary.word&gid=95&print=1','glossary','scrollbars=yes,width=760,height=400')
          .
          .Can be specified as `TRUE` or `FALSE`, `0` or `1`, or included without a value,
          .which is equivalent to `TRUE` or `1`.
          .
          .Note that a charity that has a "Moderate" or "High" Severity Advisory has its rating superseded by the Advisory
          .and will not show up with the rated filter on. A rated charity with "Low" Severity Advisory is still considered rated
          .and will still be found with the filter on.
          .
          .| Usage | Search Behavior |
          .| --- | --- |
          .| `fundraisingOrgs=TRUE`<br/>`fundraisingOrgs=1`<br/>`fundraisingOrgs` | Return only fundraising organizations. |
          .| `fundraisingOrgs=FALSE`<br/>`fundraisingOrgs=0` | Return only charities that are not fundraising organizations. |
          .| (default) | Return all charities. |
          .
          .Any value other than the ones specified in the table above will cause an HTTP
          .400 error response.
        schema:
          type: boolean
      - name: state
        in: query
        description: |-
          If set to a valid 2-letter state code (not case-sensitive), filters search
          results to include only organizations in the specified state. An invalid state
          code will respond with a 400 error.
        schema:
          type: string
      - name: city
        in: query
        description: |-
          Filters search results to include only organizations in cities whose names
          match the specified string. This uses fuzzy matching, and the city name may be
          given as a partial string.
        schema:
          type: string
      - name: zip
        in: query
        description: |-
          Filters search results to include only organizations in the specified zip
          code.
        schema:
          type: string
      - name: minRating
        in: query
        description: |-
          Filters search results to include only organizations with a rating greater
          than or equal to the specified value. Must be an integer value betwen 0 and 4,
          inclusive. Must be less than or equal to maxRating, if specified.
        schema:
          type: integer
          format: int32
      - name: maxRating
        in: query
        description: |-
          Filters search results to include only organizations with a rating less than
          or equal to the specified value. Must be an integer value betwen 0 and 4,
          inclusive. Must be greater than or equal to minRating, if specified.
        schema:
          type: integer
          format: int32
      - name: sizeRange
        in: query
        description: |-
          .Filters search results to include only organizations within a given size
          .bracket, as measured in annual Total Expenses. possible values include:
          .
          .| Value | Range             |
          .| ----- | ----------------- |
          .| 1     | Up to $3.5MM      |
          .| 2     | $3.5MM to $13.5MM |
          .| 3     | $13.5MM and up    |
          .
        schema:
          type: integer
          format: int32
      - name: donorPrivacy
        in: query
        description: |-
          .Specifies whether to include or exclude organizations that have a donor
          .privacy policy.  By default, all charities are included, regardless of donor
          .privacy policy.
          .
          .Can be specified as `TRUE` or `FALSE`, `0` or `1`, or included without a value,
          .which is equivalent to `TRUE` or `1`.
          .
          .| Usage | Search Behavior |
          .| --- | --- |
          .| `donorPrivacy=TRUE`<br/>`donorPrivacy=1`<br/>`donorPrivacy` | Return only organizations that have a donor privacy policy. |
          .| `donorPrivacy=FALSE`<br/>`donorPrivacy=0` | Return only organizations that do not have a donor privacy policy. |
          .| (default) | Return all charities. |
          .
          .Any value other than the ones specified in the table above will cause an HTTP
          .400 error response.
        schema:
          type: boolean
      - name: scopeOfWork
        in: query
        description: |-
          Filters search results to include only organizations with a given scope of
          work. Possible values are "ALL" (the default), "REGIONAL", "NATIONAL", or
          "INTERNATIONAL"
        schema:
          type: integer
          format: int32
      - name: cfcCharities
        in: query
        description: |-
          .Specifies whether to include or exclude organizations that are included in
          .the Combined Federal Campaign, the largest workplace giving campaign in USA. By
          .default, all organizations are included.<br/> [Learn
          .More](https://www.charitynavigator.org/index.cfm?bay=glossary.word&word=CFC&print=1.)
          .
          .Can be specified as `TRUE` or `FALSE`, `0` or `1`, or included without a value,
          .which is equivalent to `TRUE` or `1`.
          .
          .| Usage | Search Behavior |
          .| --- | --- |
          .| `cfcCharities=TRUE`<br/>`cfcCharities=1`<br/>`cfcCharities` | Return only CFC charities. |
          .| `cfcCharities=FALSE`<br/>`cfcCharities=0` | Return only non-CFC charities. |
          .| (default) | Return all charities. |
          .
          .Any value other than the ones specified in the table above will cause an HTTP
          .400 error response.
        schema:
          type: boolean
      - name: noGovSupport
        in: query
        description: |-
          .Specifies whether to include or exclude organizations that do not receive
          .government support. By default, all organizations are included.
          .
          .Can be specified as `TRUE` or `FALSE`, `0` or `1`, or included without a value,
          .which is equivalent to `TRUE` or `1`.
          .
          .| Usage | Search Behavior |
          .| --- | --- |
          .| `noGovSupport=TRUE`<br/>`noGovSupport=1`<br/>`noGovSupport` | Return only charities that do not receive government support. |
          .| `noGovSupport=FALSE`<br/>`noGovSupport=0` | Return only charities that receive government support. |
          .| (default) | Return all charities. |
          .
          .Any value other than the ones specified in the table above will cause an HTTP
          .400 error response.
        schema:
          type: boolean
      - name: sort
        in: query
        description: |-
          .Specifies how results should be sorted. By default, results are sorted by
          .increasing `ein` value unless a `search` string is specified, in which case
          .results are sorted by decreasing relevance to the search string.
          .
          .This parameter takes the form of a sort property and an optional direction
          .indicator, separated by a colon. E.g. `NAME` or `NAME:ASC`.
          .
          .Sort property can be any of the following (examples indicate default direction):
          .
          .| Property | Example | Sort Behavior |
          .| ----- | ------- | ------------- |
          .| `NAME` | `sort=NAME:ASC` | Sort alphabetically by charity name |
          .| `RATING` | `sort=RATING:DESC` | Sort numerically by overall ratings score. Implies `rated=true`. |
          .| `RELEVANCE` | `sort=RELEVANCE:DESC` | Sort numerically by search relevance score |
          .
          .Currently only one sort property is allowed.
          .
          .Any of the following usages will result in an HTTP 400 error response:
          .
          .* Sort field is not one of the values listed above.
          .* Sort direction is provided and is neither `ASC` nor `DESC`.
          .* Sort field is `RATING` and `rated=false` is also specified.
          .* Sort field is `RELEVANCE` and the `search` parameter is not specified.
        schema:
          type: string
      responses:
        200:
          description: Successful response, with a list of Organizations.
          headers:
            CN_Result_Count:
              description: |-
                Indicates the total number of objects available in the result set. May be
                used by the client in combination with `pageSize` to compute the number of pages
                of available data.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCollection'
              example:
              - charityNavigatorURL: https://www.charitynavigator.org/?bay=search.summary&orgid=5954&utm_source=DataAPI&utm_content=b16336bb
                mission: The MDI Biological Laboratory is a rapidly growing, independent
                  non-profit biomedical research institution. Its mission is to improve
                  human health and well-being through basic research, education, and
                  development ventures that transform discoveries into cures.
                websiteURL: http://www.mdibl.org/
                tagLine: Connecting Science, Environment, and Health
                charityName: Mount Desert Island Biological Laboratory
                ein: "010202467"
                orgID: 5954
                currentRating:
                  score: 94.62
                  ratingID: 122841
                  publicationDate: 2017-07-01T04:00:00.000Z
                  ratingImage:
                    small: https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/stars/4starsb.png
                    large: https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/stars/4stars.png
                  rating: 4
                  financialRating:
                    score: 93.54
                    rating: 4
                  accountabilityRating:
                    score: 96
                    rating: 4
                category:
                  categoryName: Research and Public Policy
                  categoryID: 11
                  charityNavigatorURL: https://www.charitynavigator.org/index.cfm?bay=search.categories&categoryid=11&utm_source=DataAPI&utm_content=b16336bb
                  image: https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/categories/research.png
                cause:
                  causeID: 35
                  causeName: Non-Medical Science & Technology Research
                  charityNavigatorURL: https://www.charitynavigator.org/index.cfm?bay=search.results&cgid=11&cuid=35&utm_source=DataAPI&utm_content=b16336bb
                  image: https://d20umu42aunjpx.cloudfront.net/_gfx_/causes/small/nonmedical.jpg
                irsClassification:
                  deductibility: Contributions are deductible
                  subsection: 501(c)(3)
                  nteeType: Science and Technology Research Institutes, Services
                  foundationStatus: Organization that normally receives no more than
                    one-third of its support from gross investment income and unrelated
                    business income and at the same time more than one-third of its
                    support from contributions, fees, and gross receipts related to
                    exempt purposes.  509(a)(2)
                  nteeSuffix: "0"
                  nteeClassification: Biological, Life Science Research
                  nteeCode: U50
                  nteeLetter: U
                mailingAddress:
                  stateOrProvince: ME
                  city: Bar Harbor
                  postalCode: "04609"
                  streetAddress1: 159 Old Bar Harbor Road
                donationAddress:
                  stateOrProvince: ME
                  city: Salisbury Cove
                  postalCode: "04672"
                  streetAddress1: PO Box 35
                advisories:
                  active:
                    _rapid_links:
                      related:
                        href: https://api.data.charitynavigator.org/v2/Organizations/010202467/Advisories?status=ACTIVE
                organization:
                  charityName: Mount Desert Island Biological Laboratory
                  ein: "010202467"
                  charityNavigatorURL: https://www.charitynavigator.org/?bay=search.summary&orgid=5954&utm_source=DataAPI&utm_content=b16336bb
                  _rapid_links:
                    related:
                      href: https://api.data.charitynavigator.org/v2/Organizations/010202467
              - charityNavigatorURL: https://www.charitynavigator.org/?bay=search.summary&orgid=4749&utm_source=DataAPI&utm_content=02c960ca
                mission: New York Public Radio consists of WNYC 93.9 FM, AM 820, and
                  WQXR 105.9 which are New York's premier public radio stations, broadcasting
                  the finest programs from National Public Radio and Public Radio
                  International, as well as a wide range of award-winning signature
                  local programming. As America's most listened-to public radio stations,
                  reaching over one million listeners each week, WNYC FM and AM extend
                  New York City's cultural riches to the whole country and air the
                  best national offerings from affiliate networks National Public
                  Radio and Public Radio International. WNYC FM 93.9 broadcasts a
                  broad range of daily news, talk, cultural and classical music programming,
                  while WNYC AM 820 maintains a stronger focus on breaking news and
                  international/ global news reporting.
                websiteURL: http://www.wnyc.org
                tagLine: WNYC and WQXR - Making the mind more curious, the heart more
                  tolerant, and the spirit more joyful
                charityName: New York Public Radio
                ein: "133015230"
                currentRating:
                  ratingImage:
                    small: https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/stars/4starsb.png
                    large: https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/stars/4stars.png
                  rating: 4
                category:
                  categoryName: Arts, Culture, Humanities
                  categoryID: 2
                  charityNavigatorURL: https://www.charitynavigator.org/index.cfm?bay=search.categories&categoryid=2&utm_source=DataAPI&utm_content=02c960ca
                  image: https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/categories/arts.png
                cause:
                  causeID: 5
                  causeName: Public Broadcasting and Media
                  charityNavigatorURL: https://www.charitynavigator.org/index.cfm?bay=search.results&cgid=2&cuid=5&utm_source=DataAPI&utm_content=02c960ca
                  image: https://d20umu42aunjpx.cloudfront.net/_gfx_/causes/small/public_radio.gif
                irsClassification:
                  deductibility: Contributions are deductible
                  subsection: 501(c)(3)
                  nteeType: Arts, Culture and Humanities
                  foundationStatus: Organization which receives a substantial part
                    of its support from a governmental unit or the general public  
                    170(b)(1)(A)(vi)
                  nteeSuffix: "0"
                  nteeClassification: Radio
                  nteeCode: A34
                  nteeLetter: A
                mailingAddress:
                  stateOrProvince: NY
                  city: New York
                  postalCode: "10013"
                  streetAddress1: 160 Varick Street
                  streetAddress2: 8th Floor
                advisories:
                  severity: Low
                  active:
                    _rapid_links:
                      related:
                        href: https://api.data.charitynavigator.org/v2/Organizations/133015230/Advisories?status=ACTIVE
                organization:
                  charityName: New York Public Radio
                  ein: "133015230"
                  charityNavigatorURL: https://www.charitynavigator.org/?bay=search.summary&orgid=4749&utm_source=DataAPI&utm_content=02c960ca
                  _rapid_links:
                    related:
                      href: https://api.data.charitynavigator.org/v2/Organizations/133015230
              - charityNavigatorURL: https://www.charitynavigator.org/?bay=search.profile&ein=911720940&utm_source=DataAPI&utm_content=02c960ca
                charityName: Children's Hunger Relief Aid
                ein: "911720940"
                irsClassification:
                  deductibility: Contributions are deductible
                  subsection: 501(c)(3)
                  nteeType: Recreation, Sports, Leisure, Athletics
                  foundationStatus: Organization which receives a substantial part
                    of its support from a governmental unit or the general public  
                    170(b)(1)(A)(vi)
                  nteeClassification: Amateur Sports Competitions
                  nteeCode: N70
                  nteeLetter: N
                mailingAddress:
                  stateOrProvince: WA
                  city: Seattle
                  postalCode: "98198"
                  streetAddress1: P.O. Box 13381
                advisories:
                  severity: High
                  active:
                    _rapid_links:
                      related:
                        href: https://api.data.charitynavigator.org/v2/Organizations/911720940/Advisories?status=ACTIVE
                organization:
                  charityName: Children's Hunger Relief Aid
                  ein: "911720940"
                  charityNavigatorURL: https://www.charitynavigator.org/?bay=search.profile&ein=911720940&utm_source=DataAPI&utm_content=02c960ca
                  _rapid_links:
                    related:
                      href: https://api.data.charitynavigator.org/v2/Organizations/911720940
        400:
          description: Invalid request. The ErrorInfo object should contain additional
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCollection_searchOrganizations_response400'
        404:
          description: |-
            Not found. This means there is no data that satisfies the request criteria,
            Or the specified `pageNum` is greater than the number of pages of data returned
            from the request query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCollection_searchOrganizations_response404'
  /Organizations/{ein}:
    get:
      tags:
      - Organization Object
      description: |-
        Retrieve full detail of a single Organization. This is a composite set of
        information describing an organization that may engage in charitable work.
        Normally the Organization data structure includes a single legal entity, though
        legal entity information may be excluded in exceptional cases.
      operationId: getOrganization
      parameters:
      - name: ein
        in: path
        required: true
        schema:
          type: string
      - name: app_id
        in: query
        description: |-
          3Scale App ID: unique identifier for an application registered in the
          Charity Navigator  developer portal.
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - name: app_key
        in: query
        description: '3Scale App Key: a secret key to authenticate the assigned App
          ID.'
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        200:
          description: |-
            A composite set of information describing an organization that may engage in
            charitable work. Normally the Organization data structure includes a single
            legal entity, though legal entity information may be excluded in exceptional
            cases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationObject'
              example:
                ein: "411867244"
                orgID: 9037
                charityName: Home for Life
                tagLine: Loving care, a place to belong, a home for life
                irsClassification:
                  subsection: 501(c)(3)
                  foundationStatus: Organization which receives a substantial part
                    of its support from a governmental unit or the general public  
                    170(b)(1)(A)(vi)
                  deductibility: Deductible
                websiteURL: http://www.homeforlife.org/
                charityNavigatorURL: https://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=9037
                category:
                  categoryID: "1"
                  categoryName: Animals
                  image: https://d20umu42aunjpx.cloudfront.net/_gfx_/icons/categories/animals.png
                  charityNavigatorURL: https://www.charitynavigator.org/index.cfm?bay=search.results.&cgid=1
                cause:
                  causeID: "2"
                  causeName: Animal Rights, Welfare, and Services
                  image: https://d20umu42aunjpx.cloudfront.net/_gfx_/causes/small/animal_rights.gif
                  charityNavigatorURL: https://www.charitynavigator.org/index.cfm?bay=search.results&cgid=1&cuid=2
                mission: Home For Life is an expression of a new kind of animal shelter
                  - the long-term animal sanctuary. We provide animals with loving
                  care, a nurturing environment that is safe and stable, a place to
                  belong- a home for life. We provide lifetime care for cats and dogs
                  with special needs who cannot find a home, but who can still lead
                  a quality life. We believe that animals should live in a setting
                  that is appropriately scaled to allow for individual attention and
                  specialized care. This is why Home For Life is able to give its
                  residents a quality life and not just a warehoused existence.
                streetAddress1: P.O. Box 847
                city: Stillwater
                state: MN
                zip: "55082"
                phoneNumber: "8002525918"
                generalEmail: info@homeforlife.org
                activeAdvisories:
                - _rapid_links:
                    related:
                      href: ./Advisories/1234
                removedAdvisories:
                - _rapid_links:
                    related:
                      href: ./Advisories/1234
                currentBoardChair:
                  name: Joseph Carnahan
                  title: Chairman
                currentCEO:
                  name: Felicia Lozaro
                  title: Executive Director
                currentRating:
                  _rapid_links:
                    related:
                      href: ./ratings/1234
                  score: 73.1
                  rating: 1
                  ratingImage: http://charityNavigator.org/images/1star.png
        400:
          description: Invalid request. The ErrorInfo object should contain additional
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationObject_getOrganization_response400'
        404:
          description: Not found.  Indicates an invalid or non-existent path parameter
            value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationObject_getOrganization_response404'
  /Organizations/{ein}/Ratings:
    get:
      tags:
      - Rating Collection (Content Plan)
      description: |-
        Retrieve all Charity Navigator ratings for a single organization. <br/>
        ![Content
        Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
        "Included with the paid Content Subscription.")
      operationId: getRatings
      parameters:
      - name: ein
        in: path
        required: true
        schema:
          type: string
      - name: app_id
        in: query
        description: |-
          3Scale App ID: unique identifier for an application registered in the
          Charity Navigator  developer portal.
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - name: app_key
        in: query
        description: '3Scale App Key: a secret key to authenticate the assigned App
          ID.'
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - name: pageSize
        in: query
        description: |-
          Number of objects to return in a single response message. Used in
          combination with `pageNum` for paged responses. Default value is 100.  If
          specified, must be an integer value between 1 and 1,000.
        schema:
          type: integer
          format: int32
      - name: pageNum
        in: query
        description: |-
          Page number to return, in case the number of available objects in the result
          set is greater than the specified or default `pageSize`. Default value is 1.
          If the value of pageNum is greater than the number of pages in the result set,
          the method will return a 404 error. If the requested starting position, computed
          as `((pageNum-1) * pageSize) + 1`, is greater than the maximum supported result
          size of 10,000 objects, the method will return a 400 error.
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Successful response, with a list of Ratings.
          headers:
            CN_Result_Count:
              description: |-
                Indicates the total number of objects available in the result set. May be
                used by the client in combination with `pageSize` to compute the number of pages
                of available data.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingCollection'
              example:
              - _rapid_links:
                  canonical:
                    href: https://cntest.getsandbox.com/v1/Organizations/1324/Ratings/234
                score: 87.23
                rating: 2
                ratingImage:
                  small: http://CharityNavigator.org/images/2star-small.png
                  large: http://CharityNavigator.org/images/2star-large.png
              - _rapid_links:
                  canonical:
                    href: https://cntest.getsandbox.com/v1/Organizations/1324/Ratings/823
                score: 93.23
                rating: 3
                ratingImage:
                  small: http://CharityNavigator.org/images/3star-small.png
                  large: http://CharityNavigator.org/images/3star-large.png
        400:
          description: Invalid request. The ErrorInfo object should contain additional
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingCollection_getRatings_response400'
        404:
          description: |-
            Not found. This means there is no data that satisfies the request criteria,
            Or the specified `pageNum` is greater than the number of pages of data returned
            from the request query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingCollection_getRatings_response404'
  /Organizations/{ein}/Ratings/{RatingID}:
    get:
      tags:
      - Rating Object (Content Plan)
      description: |-
        Retrieve a single Rating object for an Organization. Each rating is listed
        once, under its primary `referenceOrganization`. Note that the rating may apply
        to other organizations, and this is represented by `includedOrganizations`,
        which is a collection of hyperlinks to all of the organizations to which the
        rating applies.
        The rating is a point-in-time assessment provided by Charity Navigator, along
        with related metrics and ratios taken from financial statements for a fiscal
        year, on which the rating is based. <br/> ![Content
        Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
        "Included with the paid Content Subscription.")
      operationId: getRating
      parameters:
      - name: ein
        in: path
        required: true
        schema:
          type: string
      - name: RatingID
        in: path
        required: true
        schema:
          type: string
      - name: app_id
        in: query
        description: |-
          3Scale App ID: unique identifier for an application registered in the
          Charity Navigator  developer portal.
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - name: app_key
        in: query
        description: '3Scale App Key: a secret key to authenticate the assigned App
          ID.'
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        200:
          description: |-
            A point-in-time rating provided by Charity Navigator, along with related
            metrics and ratios taken from financial statements for a fiscal year, on which
            the rating is based.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingObject'
              example:
                ratingID: string
                includedOrganizations:
                - _rapid_links:
                    related:
                      href: https://cntest.getsandbox.com/v1/Organizations/1324
                - _rapid_links:
                    related:
                      href: https://cntest.getsandbox.com/v1/Organizations/234987
                referenceOrganization:
                  _rapid_links:
                    related:
                      href: https://cntest.getsandbox.com/v1/Organizations/1324
                score: 98.2
                rating: 4
                ratingImage:
                  small: http://charityNavigator.org/images/4star-small.png
                  large: http://charityNavigator.org/images/4star-large.png
                form990:
                  fundraisingExpenses: 122021.0
                  administrativeExpenses: 389283.0
                  programExpenses: 234987.0
                  totalExpenses: 23432.22
                  totalRevenue: 234874.0
                  totalNetAssets: 987000.0
                financialRating:
                  score: 96.9
                  rating: 4
                  performanceMetrics:
                    fundraisingEfficiency: 0.06
                    fundraisingExpensesRatio: 0.055
                    programExpensesGrowth: -0.0612
                    programExpensesRatio: 0.789
                    administrationExpensesRatio: 0.154
                    liabilitiesToAssetsRatio: 2.365
                    workingCapitalRatio: -0.93
                    primaryRevenueGrowth: 23.23
                accountabilityRating:
                  score: 96
                  rating: 4
                  accountabilityTests:
                    boardListStatus: Pass
                    staffListStatus: Fail
                    auditedFinancialStatus: Pass
                    form990Status: Pass
                    privacyStatus: Opt-Out
                    loansToOrFromOfficers: Pass
                    loansToOfficers: Pass
                    loansFromOfficers: Pass
                    materialDiversionOfAssets: Pass
                    boardMeetingMinutes: Pass
                    distributes990ToBoard: Pass
                    conflictOfInterestPolicy: Pass
                    whistleBlowerPolicy: Pass
                    recordsRetentionPolicy: Pass
                    reportsCEOAndSalary: Pass
                    ceoCompensationProcedure: Pass
                    compensatesBoard: Pass
                    independentAudit: Pass
                    independentBoard: Pass
                publicationDate: 2017-05-12
        400:
          description: Invalid request. The ErrorInfo object should contain additional
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingObject_getRating_response400'
        404:
          description: Not found.  Indicates an invalid or non-existent path parameter
            value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingObject_getRating_response404'
  /Organizations/{ein}/Advisories:
    get:
      tags:
      - Advisory Collection
      description: |-
        Retrieve the full set of Charity Navigator advisories for a specified
        organization. An advisory is a cautionary communication from Charity Navigator,
        advising of unusual events or behavior related to a known organization.
      operationId: getAdvisories
      parameters:
      - name: ein
        in: path
        required: true
        schema:
          type: string
      - name: app_id
        in: query
        description: |-
          3Scale App ID: unique identifier for an application registered in the
          Charity Navigator  developer portal.
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - name: app_key
        in: query
        description: '3Scale App Key: a secret key to authenticate the assigned App
          ID.'
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - name: pageSize
        in: query
        description: |-
          Number of objects to return in a single response message. Used in
          combination with `pageNum` for paged responses. Default value is 100.  If
          specified, must be an integer value between 1 and 1,000.
        schema:
          type: integer
          format: int32
      - name: pageNum
        in: query
        description: |-
          Page number to return, in case the number of available objects in the result
          set is greater than the specified or default `pageSize`. Default value is 1.
          If the value of pageNum is greater than the number of pages in the result set,
          the method will return a 404 error. If the requested starting position, computed
          as `((pageNum-1) * pageSize) + 1`, is greater than the maximum supported result
          size of 10,000 objects, the method will return a 400 error.
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        description: |-
          .An optional filter parameter to limit the Advisories returned, based on
          .status:
          .
          .| Status Value | Advisories Included                                 |
          .| ------------ | --------------------------------------------------- |
          .| ALL | All advisories included, regardless of status.      |
          .| ACTIVE       | Includes only advisories that are currently active. |
          .| REMOVED      | Includes only advisories that have been removed.    |
          .
          .Omitting the status property is the equivalent of specifying ALL. Any value
          .other than the ones listed above will result in an HTTP error 400.
        schema:
          type: string
      responses:
        200:
          description: Successful response, with a list of Advisorites.
          headers:
            CN_Result_Count:
              description: |-
                Indicates the total number of objects available in the result set. May be
                used by the client in combination with `pageSize` to compute the number of pages
                of available data.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisoryCollection'
              example:
              - advisoryID: "97832"
                organization:
                  _rapid_links:
                    related:
                      href: https://cntest.getsandbox.com/v1/Organizations/1324
                  ein: "1234"
                  charityName: Happy Trails
                severity: High
                datePublished: 2017-05-12
                dateRemoved: 2017-05-12
                dateModified: 2017-05-12
                sources:
                - datePublished: 2017-05-12
                  dateRemoved: 2017-05-12
                  dateModified: 2017-05-12
                  publisher: Financial Times
                  url: http://foobar.fintimes.com/stories/1234
                  summary: Donors be warned, bad stuff suspected at Happy Trails...
                - datePublished: 2017-05-12
                  dateRemoved: 2017-05-12
                  dateModified: 2017-05-12
                  publisher: Charity Skeptics Weekly
                  url: http://charityskepticsweekly.com/stories/1234
                  summary: Yet more proof that all charities are run by crooks, and
                    the moon is made of green cheese...
              - advisoryID: string
                organization:
                  _rapid_links:
                    related:
                      href: https://cntest.getsandbox.com/v1/Organizations/1324
                  ein: "1234"
                  charityName: Happy Trails
                severity: Low
                datePublished: 2014-02-12
                dateRemoved: 2014-04-15
                dateModified: 2014-04-12
                sources:
                - datePublished: 2014-02-12
                  dateRemoved: 2014-04-15
                  dateModified: 2014-04-12
                  publisher: Jaw Flapper News
                  url: http://jawflapper.com/feed/98723u4
                  summary: Notorious celeb tweets derogatory statement about Happy
                    Trails.
        400:
          description: Invalid request. The ErrorInfo object should contain additional
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisoryCollection_getAdvisories_response400'
        404:
          description: |-
            Not found. This means there is no data that satisfies the request criteria,
            Or the specified `pageNum` is greater than the number of pages of data returned
            from the request query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisoryCollection_getAdvisories_response404'
  /Organizations/{ein}/Advisories/{AdvisoryID}:
    get:
      tags:
      - Advisory Object
      description: |-
        Retrieve full details of a single Advisory, under a given organization. An
        advisory is a cautionary communication from Charity Navigator, advising of
        unusual events or behavior related to a known organization.
      operationId: getAdvisory
      parameters:
      - name: ein
        in: path
        required: true
        schema:
          type: string
      - name: AdvisoryID
        in: path
        required: true
        schema:
          type: string
      - name: app_id
        in: query
        description: |-
          3Scale App ID: unique identifier for an application registered in the
          Charity Navigator  developer portal.
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - name: app_key
        in: query
        description: '3Scale App Key: a secret key to authenticate the assigned App
          ID.'
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        200:
          description: Successful response, with the requested object instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisory'
              example:
                advisoryID: "97832"
                organization:
                  _rapid_links:
                    related:
                      href: https://cntest.getsandbox.com/v1/Organizations/1324
                  ein: "1234"
                  charityName: Happy Trails
                severity: High
                datePublished: 2017-05-12
                dateRemoved: 2017-05-12
                dateModified: 2017-05-12
                sources:
                - datePublished: 2017-05-12
                  dateRemoved: 2017-05-12
                  dateModified: 2017-05-12
                  publisher: Financial Times
                  url: http://foobar.fintimes.com/stories/1234
                  summary: Donors be warned, bad stuff suspected at Happy Trails...
                - datePublished: 2017-05-12
                  dateRemoved: 2017-05-12
                  dateModified: 2017-05-12
                  publisher: Charity Skeptics Weekly
                  url: http://charityskepticsweekly.com/stories/1234
                  summary: Yet more proof that all charities are run by crooks, and
                    the moon is made of green cheese...
        400:
          description: Invalid request. The ErrorInfo object should contain additional
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisoryObject_getAdvisory_response400'
        404:
          description: Not found.  Indicates an invalid or non-existent path parameter
            value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisoryObject_getAdvisory_response404'
  /Lists:
    get:
      tags:
      - List Collection (Content Plan)
      description: |-
        Retrieve a set of Lists defined in Charity Navigator. Each entry in this
        collection is a curated or generated list of organizations, published by Charity
        Navigator. <br/> ![Content
        Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
        "Included with the paid Content Subscription.")
      operationId: getLists
      parameters:
      - name: app_id
        in: query
        description: |-
          3Scale App ID: unique identifier for an application registered in the
          Charity Navigator  developer portal.
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - name: app_key
        in: query
        description: '3Scale App Key: a secret key to authenticate the assigned App
          ID.'
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - name: pageSize
        in: query
        description: |-
          Number of objects to return in a single response message. Used in
          combination with `pageNum` for paged responses. Default value is 100.  If
          specified, must be an integer value between 1 and 1,000.
        schema:
          type: integer
          format: int32
      - name: pageNum
        in: query
        description: |-
          Page number to return, in case the number of available objects in the result
          set is greater than the specified or default `pageSize`. Default value is 1.
          If the value of pageNum is greater than the number of pages in the result set,
          the method will return a 404 error. If the requested starting position, computed
          as `((pageNum-1) * pageSize) + 1`, is greater than the maximum supported result
          size of 10,000 objects, the method will return a 400 error.
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Successful response, with a list of Advisorites.
          headers:
            CN_Result_Count:
              description: |-
                Indicates the total number of objects available in the result set. May be
                used by the client in combination with `pageSize` to compute the number of pages
                of available data.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollection'
              example:
              - _rapid_links:
                  canonical:
                    href: https://cntest.getsandbox.com/v1/lists/148
                listID: "138"
                listName: Top 10 Most Followed Charities
                listType: Top List
              - _rapid_links:
                  canonical:
                    href: https://cntest.getsandbox.com/v1/Organizations/149
                listID: "149"
                listName: Top 10 Disaster Relief Charities
                listType: Top List
        400:
          description: Invalid request. The ErrorInfo object should contain additional
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollection_getLists_response400'
        404:
          description: |-
            Not found. This means there is no data that satisfies the request criteria,
            Or the specified `pageNum` is greater than the number of pages of data returned
            from the request query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollection_getLists_response404'
  /Lists/{ListID}:
    get:
      tags:
      - List Object (Content Plan)
      description: |-
        Retrieve a curated or generated list of organizations, published by Charity
        Navigator. <br/> ![Content
        Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
        "Included with the paid Content Subscription.")
      operationId: getList
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: app_id
        in: query
        description: |-
          3Scale App ID: unique identifier for an application registered in the
          Charity Navigator  developer portal.
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - name: app_key
        in: query
        description: '3Scale App Key: a secret key to authenticate the assigned App
          ID.'
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        200:
          description: Successful response, with the requested object instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
              example:
                listID: "138"
                listName: Top 10 Most Followed Charities
                listType: Top List
                description: Since Charity Navigator launched in 2002, hundreds of
                  thousands of donors have become registered users of our site. Registered
                  users have access to (free) premier tools on our site including
                  the ability to share a list of charities, compare charities, view
                  historical data and subscribe to our monthly, email newsletter.
                  Registered users can also create personal portfolios of charities
                  to track the performance of their favorite charities overtime. The
                  10 charities that have been most frequently added to registered
                  users’ portfolios are listed below. They are ranked by the number
                  of portfolios that include them.
                image: http://charitynavigator.org/images/Top10.png
                charityNavigatorURL: https://www.charitynavigator.org/index.cfm?bay=topten.detail&listid=148
                groups:
                - organizations:
                  - _rapid_links:
                      related:
                        href: https://cntest.getsandbox.com/v1/Organizations/3628
                  - _rapid_links:
                      related:
                        href: https://cntest.getsandbox.com/v1/Organizations/3277
                  - _rapid_links:
                      related:
                        href: https://cntest.getsandbox.com/v1/Organizations/4208
                  - _rapid_links:
                      related:
                        href: https://cntest.getsandbox.com/v1/Organizations/4770
                  - _rapid_links:
                      related:
                        href: https://cntest.getsandbox.com/v1/Organizations/4617
                  - _rapid_links:
                      related:
                        href: https://cntest.getsandbox.com/v1/Organizations/4207
                  - _rapid_links:
                      related:
                        href: https://cntest.getsandbox.com/v1/Organizations/4438
                  - _rapid_links:
                      related:
                        href: https://cntest.getsandbox.com/v1/Organizations/12847
                  - _rapid_links:
                      related:
                        href: https://cntest.getsandbox.com/v1/Organizations/4768
                  - _rapid_links:
                      related:
                        href: https://cntest.getsandbox.com/v1/Organizations/3286
        400:
          description: Invalid request. The ErrorInfo object should contain additional
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListObject_getList_response400'
        404:
          description: Not found.  Indicates an invalid or non-existent path parameter
            value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListObject_getList_response404'
  /Categories:
    get:
      tags:
      - Category Collection (Content Plan)
      description: |-
        Returns metadata for Charity Navigator's classification hierarchy for
        charitable Organizations. Category is the top-level classifier, and each
        category may contain a number of Causes. <br/> ![Content
        Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
        "Included with the paid Content Subscription.")
      operationId: getCategories
      parameters:
      - name: app_id
        in: query
        description: |-
          3Scale App ID: unique identifier for an application registered in the
          Charity Navigator  developer portal.
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - name: app_key
        in: query
        description: '3Scale App Key: a secret key to authenticate the assigned App
          ID.'
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        200:
          description: |-
            In Charity Navigator's taxonomy, Category is the most general level of
            classification of Organziations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryCollection'
  /Advisory:
    get:
      tags:
      - Active Advisory Collection
      description: |-
        Retrieve the full set of Charity Navigator advisories for a specified
        organization. An advisory is a cautionary communication from Charity Navigator,
        advising of unusual events or behavior related to a known organization.
      operationId: getAllActiveAdvisories
      parameters:
      - name: app_id
        in: query
        description: |-
          3Scale App ID: unique identifier for an application registered in the
          Charity Navigator  developer portal.
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - name: app_key
        in: query
        description: '3Scale App Key: a secret key to authenticate the assigned App
          ID.'
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      - name: pageSize
        in: query
        description: |-
          Number of organizations to return in a single response message. Used in
          combination with `pageNum` for paged responses. Default value is 100.  If
          specified, must be an integer value between 1 and 1,000.
        schema:
          type: integer
          format: int32
      - name: pageNum
        in: query
        description: |-
          Page number to return, in case the number of available objects in the result
          set is greater than the specified or default `pageSize`. Default value is 1.
          If the value of pageNum is greater than the number of pages in the result set,
          the method will return a 404 error. If the requested starting position, computed
          as `((pageNum-1) * pageSize) + 1`, is greater than the maximum supported result
          size of 10,000 objects, the method will return a 400 error.
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Successful response, with a list of Advisorites.
          headers:
            CN_Result_Count:
              description: |-
                Indicates the total number of objects available in the result set. May be
                used by the client in combination with `pageSize` to compute the number of pages
                of available data.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveAdvisoryCollection'
              example:
              - mailingAddress:
                  stateOrProvince: WI
                  city: Stoughton
                organization:
                  charityNavigatorURL: https://www.charitynavigator.org/?bay=search.profile&ein=030444849&utm_source=DataAPI&utm_content=b16336bb
                  charityName: Country Animal Haven
                  ein: "030444849"
                advisories:
                  severity: High
                  active:
                    _rapid_links:
                      related:
                        href: https://api.data.charitynavigator.org/v2/Organizations/030444849/Advisories?status=ACTIVE
              - mailingAddress:
                  stateOrProvince: NH
                  city: Concord
                organization:
                  charityNavigatorURL: https://www.charitynavigator.org/?bay=search.profile&ein=020136360&utm_source=DataAPI&utm_content=b16336bb
                  charityName: New Hampshire Sheep and Wool Growers Association
                  ein: "020136360"
                advisories:
                  severity: High
                  active:
                    _rapid_links:
                      related:
                        href: https://api.data.charitynavigator.org/v2/Organizations/020136360/Advisories?status=ACTIVE
              - mailingAddress:
                  stateOrProvince: FL
                organization:
                  charityNavigatorURL: https://www.charitynavigator.org/?bay=search.profile&ein=000000085&utm_source=DataAPI&utm_content=b16336bb
                  charityName: One Door for Education, Inc.
                  ein: "000000085"
                advisories:
                  severity: High
                  active:
                    _rapid_links:
                      related:
                        href: https://api.data.charitynavigator.org/v2/Organizations/000000085/Advisories?status=ACTIVE
        400:
          description: Invalid request. The ErrorInfo object should contain additional
            details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveAdvisoryCollection_getAllActiveAdvisories_response400'
        404:
          description: |-
            Not found. This means there is no data that satisfies the request criteria,
            Or the specified `pageNum` is greater than the number of pages of data returned
            from the request query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveAdvisoryCollection_getAllActiveAdvisories_response404'
components:
  schemas:
    OrganizationCollection:
      type: array
      items:
        $ref: '#/components/schemas/OrganizationCollection_item'
    OrganizationCollection_item:
      required:
      - ein
      - organization
      type: object
      properties:
        ein:
          minLength: 1
          type: string
          description: |-
            The federal Employer Identification Number for the charitable organization.
            May be set to a system-assigned value in cases where the organization is
            fictitious, or the real EIN is not available.
        orgID:
          type: integer
          description: |-
            Internal identifier assigned by Charity Navigator. Only rated charities have
            an orgID. <br/> ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        charityName:
          minLength: 1
          type: string
          description: Name of the charitable organization.
        tagLine:
          minLength: 1
          type: string
          description: Tagline describing the charity.
        websiteURL:
          minLength: 1
          type: string
          description: |-
            URL of the organization's website. <br/> ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        charityNavigatorURL:
          minLength: 1
          type: string
        mission:
          minLength: 1
          type: string
          description: The organization's mission statement.
        currentRating:
          $ref: '#/components/schemas/OrganizationCollection_currentRating'
        category:
          $ref: '#/components/schemas/OrganizationCollection_category'
        cause:
          $ref: '#/components/schemas/OrganizationCollection_cause'
        irsClassification:
          $ref: '#/components/schemas/OrganizationCollection_irsClassification'
        mailingAddress:
          $ref: '#/components/schemas/OrganizationCollection_mailingAddress'
        donationAddress:
          $ref: '#/components/schemas/OrganizationCollection_donationAddress'
        advisories:
          $ref: '#/components/schemas/OrganizationCollection_advisories'
        organization:
          $ref: '#/components/schemas/OrganizationLink'
      description: |-
        The full collection of organizations in Charity Navigator. Allows paged
        retrieval, simple and advanced searching.
    OrganizationCollection_currentRating:
      type: object
      properties:
        ratingID:
          minLength: 1
          type: string
          description: |-
            Unique identifier for this Rating. <br/> ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        score:
          type: number
          description: |-
            Overall score, out of a possible 100, based on a two-dimensional analysis of
            financial health and accountability.
            [Learn
            More](https://www.charitynavigator.org/index.cfm?bay=content.view&cpid=1287)
            ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        rating:
          type: integer
          description: |-
            Overall rating, on a four-star scale, based on a two-dimensional analysis of
            financial health and accountability.
            [Learn
            More](https://www.charitynavigator.org/index.cfm?bay=content.view&cpid=1287)
            ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.")
        publicationDate:
          type: string
          description: |-
            Date the Rating was published ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.") <br/>
          format: date
        financialRating:
          $ref: '#/components/schemas/OrganizationCollection_currentRating_financialRating'
        accountabilityRating:
          $ref: '#/components/schemas/OrganizationCollection_currentRating_accountabilityRating'
        ratingImage:
          $ref: '#/components/schemas/IconSet'
        form990:
          $ref: '#/components/schemas/Form990'
      description: |-
        Current rating for the organization. <br/> ![Rated Charities
        Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
        "Only available for rated charities.")
    OrganizationCollection_currentRating_financialRating:
      type: object
      properties:
        score:
          type: number
          description: |-
            Overall financial score, out of a possible 100, based on a set of individual
            measures of financial health.
            [Learn
            More](https://www.charitynavigator.org/index.cfm?bay=content.view&cpid=35)
            ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        rating:
          type: integer
          description: |-
            Overall financial rating, on a four-star scale.
            [Learn
            More](https://www.charitynavigator.org/index.cfm?bay=content.view&cpid=1287)
            ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
      description: |-
        Financial Score, Rating, and performance metrics. <br/> ![Rated Charities
        Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
        "Only available for rated charities.") ![Content
        Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
        "Included with the paid Content Subscription.")
    OrganizationCollection_currentRating_accountabilityRating:
      type: object
      properties:
        score:
          type: number
          description: |-
            Overall accountability score, out of a possible 100, based on a set of
            individual measures of accountability and transparency.
            [Learn
            More](https://www.charitynavigator.org/index.cfm?bay=content.view&cpid=1093)
            <br/> ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        rating:
          type: integer
          description: |-
            Overall accountability and transparency rating, on a four-star scale.
            [Learn
            More](https://www.charitynavigator.org/index.cfm?bay=content.view&cpid=1283)
            ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
      description: |-
        Accountability and Transparency Score, Rating, and test indicators. <br/>
        ![Rated Charities
        Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
        "Only available for rated charities.") ![Content
        Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
        "Included with the paid Content Subscription.")
    IconSet:
      type: object
      properties:
        small:
          minLength: 1
          type: string
        large:
          minLength: 1
          type: string
      description: A set of URLs different sized icons with the same underlying meaning.
    Form990:
      type: object
      properties:
        fundraisingExpenses:
          type: number
          description: |-
            Fundraising expenses as reported on the income statement for the rating
            period. This measure reflects what a charity spends to raise money. Fundraising
            expenses can include campaign printing, publicity, mailing, and staffing and
            costs incurred in soliciting donations, memberships, and grants.
            [Learn
            More](https://www.charitynavigator.org/index.cfm?bay=glossary.word&word=Fundraising%20Expenses&mid=2&cid=21&print=1)
            ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        administrativeExpenses:
          type: number
          description: |-
            Administrative expenses as reported on the income statement for the rating
            period. This measure reflects what percent of its total budget a charity spends
            on overhead, administrative staff and associated costs, and organizational
            meetings.
            [Learn
            More](https://www.charitynavigator.org/index.cfm?bay=glossary.word&word=Administrative%20Expenses&mid=3&cid=21&print=1)
            ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        programExpenses:
          type: number
          description: |-
            Program expenses as reported on the income statement for the rating period.
            This measure reflects what a charity spends to raise money. Fundraising expenses
            can include campaign printing, publicity, mailing, and staffing and costs
            incurred in soliciting donations, memberships, and grants.
            [Learn
            More](https://www.charitynavigator.org/index.cfm?bay=glossary.word&word=Program%20Expenses&mid=7&cid=21&print=1)
            ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        totalExpenses:
          type: number
          description: |-
            Total functional expenses, computed as the sum of program expenses,
            administrative expenses and fundraising expenses, as reported on the income
            statement for the rating period. <br/> ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        totalRevenue:
          type: number
          description: |-
            Total revenue, as reported on the income statement for the rating period.
            Charities can derive revenue or funding from a variety of sources, including
            contributions, program services, membership dues, interest on savings,
            investment income, special events, and sales of inventory. <br/> ![Rated
            Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        totalNetAssets:
          type: number
          description: |-
            Total net assets, computed as he difference between assets and liabilities,
            as reported on the organization's financial statement for the rating period.
            Although charities do not exist to make money, they do work to build and
            maintain reasonable reserves of net assets. Growing its net assets helps a
            charity outpace inflation and sustain future program activities. [Learn
            More](https://www.charitynavigator.org/index.cfm?bay=glossary.word&word=Net%20Assets&print=1)
            <br/> ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        totalContributions:
          type: number
          description: |-
            Total contributions is the sum of all contributions - including
            gifts, and grants, federated campaigns, membership dues, fundraising events,
            related organizations, and government grants. ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        primaryRevenue:
          type: number
          description: |-
            The revenue a charity generates as a result of the work it does.
            A charity's primary revenue includes grants and contributions, revenue produced from
            programs and services, and membership fees and dues. [Learn
            More](https://www.charitynavigator.org/index.cfm?bay=glossary.word&gid=10&print=1)
            <br/> ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        otherRevenue:
          type: number
          description: |-
            In addition to primary revenue sources, charities derive revenue from investments,
            rents, special events, sales of inventory, and other unrelated business income. [Learn
            More](https://www.charitynavigator.org/index.cfm?bay=glossary.word&word=Other%20Revenue&print=1)
            <br/> ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        ceoCompensationPercent:
          type: number
          description: |-
            Based on the data found in each charity's most recently filed Form 990, we include salary,
            cash bonuses, and expense accounts when we measure a CEO's compensation. We do not include
            contributions to benefit plans or deferred compensation that is allocated to be paid in later
            years. Deferred compensation is often accrued over many years and then is paid as a lump sum in
            one year. As such, we do include deferred compensation as part of the compensation figure in the
            year in which it is actually paid out to the employee and/or when it is expensed per the 990.
            Many charities use fiscal years that differ from the calendar year. In these cases, it is
            important to recognize that the CEO’s compensation reported on the Form 990 reflects the CEO’s
            pay for the calendar year, not the fiscal year. Why? Because the IRS requires that charities
            report compensation on the Form 990 exactly the same as they did on the W-2 Form
            (which is based on the calendar year).
            Many donors are understandably interested in how much the leaders of charities earn. This information
            is public record so Charity Navigator reports it for our users. This information does not factor
            into an organization's Charity Navigator rating. We provide this percentage so donors can quickly put
            the salary into perspective. For comparative purposes, a charity with total expenses of $20 million,
            which compensates its highest paid executive at $200,000 per year (or 1%) would appear to have tighter
            control on expenses than the $1 million organization which pays its chief executive the same amount
            (or 20% of expenses for one person). [Learn
            More](https://www.charitynavigator.org/index.cfm/bay/glossary.word/word/Leadership%20Compensation%20and%20Other%20Salaries%20of%20Note%20as%20a%20Percentage%20of%20Total%20Expenses/print/1.htm)
            <br/> ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
      description: |-
        A subset of financial disclosures reported on the organization's IRS Form
        990.
    OrganizationCollection_category:
      type: object
      properties:
        categoryID:
          minLength: 1
          type: string
          description: Charity Navigator's unique identifier for the category.
        categoryName:
          minLength: 1
          type: string
          description: Name of the category.
      description: |-
        The primary category of this organization's charitable work as assigned by
        Charity Navigator.
    OrganizationCollection_cause:
      type: object
      properties:
        causeID:
          minLength: 1
          type: string
          description: Charity Navigator's unique identifier for the cause.
        causeName:
          minLength: 1
          type: string
          description: Name of the cause.
      description: |-
        The primary cause of this organization's charitable work as assigned by
        Charity Navigator.
    OrganizationCollection_irsClassification:
      type: object
      properties:
        subsection:
          minLength: 1
          type: string
          description: |-
            A subsection in the tax code which defines the category under which an
            organization may be exempt from taxes.
        foundationStatus:
          minLength: 1
          type: string
          description: |-
            IRS classification of type of foundation. This is only applicable to
            501(c)(3) Foundations.
        deductibility:
          $ref: '#/components/schemas/DeductibilityType'
        deductibilityDetail:
          minLength: 1
          type: string
          description: |-
            Provides more information when deductibility is NOT_DEDUCTIBLE_GENERALLY,
            indicating that donations to an organization are not generally deductible.
        deductibilityCode:
          minLength: 1
          type: string
          description: IRS Code to specify whether donations to this organization
            are tax-deductible.
        nteeCode:
          minLength: 1
          type: string
          description: |-
            The IRS's full classification code for the type of work this Organization
            performs
        nteeClassification:
          minLength: 1
          type: string
          description: |-
            The IRS's text description of the work that this Organization performs
            which corresponds to the full NTEECode
        nteeLetter:
          minLength: 1
          type: string
          description: |-
            Within the IRS's classification system, the first letter of the code
            represents broad subsectors, such as health, education, and youth development,
            of the charitable organization universe.
        nteeType:
          minLength: 1
          type: string
          description: |-
            The IRS's text description of the NTEE Letter portion of this this
            organizations classification
        nteeSuffix:
          minLength: 1
          type: string
          description: The last and optional character in the IRS classification system
        affiliation:
          minLength: 1
          type: string
          description: affiliation
        groupName:
          minLength: 1
          type: string
          description: groupName
        exemptOrgStatus:
          minLength: 1
          type: string
          description: exemptOrgStatus
        exemptOrgStatusCode:
          minLength: 1
          type: string
          description: exemptOrgStatusCode
        rulingDate:
          minLength: 1
          type: string
          description: rulingDate
        assetAmount:
          minLength: 1
          type: string
          description: assetAmount
        incomeAmount:
          minLength: 1
          type: string
          description: incomeAmount
        latest990:
          minLength: 1
          type: string
          description: latest990
        filingRequirement:
          minLength: 1
          type: string
          description: filingRequirement
        accountingPeriod:
          minLength: 1
          type: string
          description: accountingPeriod
        classification:
          minLength: 1
          type: string
          description: classification
      description: |-
        The classification and tax treatment of the Organization by the Internal
        Revenue Service.
    DeductibilityType:
      type: string
      description: |-
        A value that summarizes deductibilty of donations to an Organization under a
        given IRS Classification.
      enum:
      - Deductible
      - Not Deductible
      - Not Deductible, Generally
    OrganizationCollection_mailingAddress:
      type: object
      properties:
        streetAddress1:
          minLength: 1
          type: string
          description: First line of the street address.
        streetAddress2:
          minLength: 1
          type: string
          description: Second line of the street address.
        city:
          minLength: 1
          type: string
          description: City.
        stateOrProvince:
          minLength: 1
          type: string
          description: State or province.
        postalCode:
          minLength: 1
          type: string
          description: Postal code.
        country:
          minLength: 1
          type: string
          description: |-
            Country. Note that Charity Navigator currently covers only organizations
            based in the United States. If the Country is null, empty, or missing, it is
            safe to assume a US-based address.
      description: Mailing address of the organization.
    OrganizationCollection_donationAddress:
      type: object
      properties:
        streetAddress1:
          minLength: 1
          type: string
          description: First line of the street address.
        streetAddress2:
          minLength: 1
          type: string
          description: Second line of the street address.
        city:
          minLength: 1
          type: string
          description: City.
        stateOrProvince:
          minLength: 1
          type: string
          description: State or province.
        postalCode:
          minLength: 1
          type: string
          description: Postal code.
        country:
          minLength: 1
          type: string
          description: |-
            Country. Note that Charity Navigator currently covers only organizations
            based in the United States. If the Country is null, empty, or missing, it is
            safe to assume a US-based address.
      description: Address to send donations to the organization.
    OrganizationCollection_advisories:
      type: object
      properties:
        severity:
          $ref: '#/components/schemas/Severity'
        active:
          $ref: '#/components/schemas/AdvisoryCollection_link'
      description: Advisories related to the organization that are currently in effect.
    Severity:
      type: string
      description: Enumeration describing three levels of severity.
      enum:
      - High
      - Moderate
      - Low
    AdvisoryCollection_link:
      required:
      - _links
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/_RapidLinksMap'
    _RapidLinksMap:
      type: object
      additionalProperties:
        type: object
        properties: {}
        description: |
          An object representing a hyperlink to a related resource.
          The link relation is specified as the containing property name.
          The `href` property specifies the target URL, and additional properties may specify other metadata.
      description: |
        A set of inbound hyperlinks to a domain object.
        Each property maps a [link relation](https://www.iana.org/assignments/link-relations/link-relations.xhtml) (the property name) to a hyperlink object (the property values).
    OrganizationLink:
      required:
      - _links
      - ein
      type: object
      properties:
        ein:
          minLength: 1
          type: string
          description: |-
            The federal Employer Identification Number for the charitable organization.
            May be set to a system-assigned value in cases where the organization is
            fictitious, or the real EIN is not available.
        charityName:
          minLength: 1
          type: string
          description: Name of the charitable organization.
        _links:
          $ref: '#/components/schemas/_RapidLinksMap'
    OrganizationObject:
      required:
      - ein
      type: object
      properties:
        ein:
          minLength: 1
          type: string
          description: |-
            The federal Employer Identification Number for the charitable organization.
            May be set to a system-assigned value in cases where the organization is
            fictitious, or the real EIN is not available.
        orgID:
          type: integer
          description: |-
            Internal identifier assigned by Charity Navigator. Only rated charities have
            an orgID. <br/> ![Rated Charities
            Only](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/Blue_Star-16.png
            "Only available for rated charities.") ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        charityName:
          minLength: 1
          type: string
          description: Name of the charitable organization.
        tagLine:
          minLength: 1
          type: string
          description: Tagline describing the charity.
        websiteURL:
          minLength: 1
          type: string
          description: |-
            URL of the organization's website. <br/> ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        charityNavigatorURL:
          minLength: 1
          type: string
        mission:
          minLength: 1
          type: string
          description: The organization's mission statement.
        phoneNumber:
          minLength: 1
          type: string
          description: |-
            Main phone number of the organization. <br/> ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        generalEmail:
          minLength: 1
          type: string
          description: |-
            General email address for the organization. <br/> ![Content
            Subscription](https://cdn2.hubspot.net/hubfs/597611/CharityNavigator/FA-Data-Table-16.png
            "Included with the paid Content Subscription.")
        category:
          $ref: '#/components/schemas/OrganizationObject_category'
        cause:
          $ref: '#/components/schemas/OrganizationObject_cause'
        irsClassification:
          $ref: '#/components/schemas/IRSClassification'
        mailingAddress:
          $ref: '#/components/schemas/Address'
        donationAddress:
          $ref: '#/components/schemas/Address'
        activeAdvisories:
          $ref: '#/components/schemas/AdvisoryCollection_link'
        removedAdvisories:
          $ref: '#/components/schemas/AdvisoryCollection_link'
        currentBoardChair:
          $ref: '#/components/schemas/Representative'
        currentCEO:
          $ref: '#/components/schemas/Representative'
        currentRating:
          $ref: '#/components/schemas/ratingLink'
        ratingHistory:
          $ref: '#/components/schemas/RatingCollection_link'
      description: Represents a single Organization in Charity Navigator.
    OrganizationObject_category:
      type: object
      properties:
        categoryID:
          minLength: 1
          type: string
          description: Charity Navigator's unique identifier for the category.
        categoryName:
          minLength: 1
          type: string
          description: Name of the category.
        image:
          minLength: 1
          type: string
          description: URL for an image representing the Category.
        charityNavigatorURL:
          minLength: 1
          type: string
          description: URL to the Category page on Charity Navigator's website.
      description: The primary category of the charity.
    OrganizationObject_cause:
      type: object
      properties:
        causeID:
          minLength: 1
          type: string
          description: Charity Navigator's unique identifier for the cause.
        causeName:
          minLength: 1
          type: string
          description: Name of the cause.
        image:
          minLength: 1
          type: string
          description: URL for an image representing the Cause.
        charityNavigatorURL:
          minLength: 1
          type: string
          description: URL to the Cause page on Charity Navigator's website.
      description: |-
        The primary cause of this organization's charitable work as assigned by
        Charity Navigator.
    IRSClassification:
      type: object
      properties:
        subsection:
          minLength: 1
          type: string
          description: |-
            A subsection in the tax code which defines the category under which an
            organization may be exempt from taxes.
        foundationStatus:
          minLength: 1
          type: string
          description: |-
            IRS classification of type of foundation. This is only applicable to
            501(c)(3) Foundations.
        deductibility:
          $ref: '#/components/schemas/DeductibilityType'
        deductibilityDetail:
          minLength: 1
          type: string
          description: |-
            Provides more information when deductibility is NOT_DEDUCTIBLE_GENERALLY,
            indicating that donations to an organization are not generally deductible.
        deductibilityCode:
          minLength: 1
          type: string
          description: IRS Code to specify whether donations to this organization
            are tax-deductible.
        nteeCode:
          minLength: 1
          type: string
          description: |-
            The IRS's full classification code for the type of work this Organization
            performs
        nteeClassification:
          minLength: 1
          type: string
          description: |-
            The IRS's text description of the work that this Organization performs
            which corresponds to the full NTEECode
        nteeLetter:
          minLength: 1
          type: string
          description: |-
            Within the IRS's classification system, the first letter of the code
            represents broad subsectors, such as health, education, and youth development,
            of the charitable organization universe.
        nteeType:
          minLength: 1
          type: string
          description: |-
[...]
